<div class="col-md-4">
	<div>
		<h3>{{model.title}}</h3>
		<div>
			
				Новостей {{statsNumOfPosts}}/ авторов {{statsNumOfAuthors}}	
				<span class="text-right">
					<button {{action "removeChannel" model.channel_id}} class="btn btn-default btn-xs">Delete</button>
				</span>
				
		</div>
		<div class="list-scroll">
			<ul class="list-group">
				{{#each model.entries as |post|}}
					 <li class="list-group-item pointer" {{action "selectPost" post}}>{{post.title}}</li>
				{{/each}}			
			</ul>
			
		</div>
	</div>
	<div>
	</div>
</div>
<div class="col-md-6">
	<div id="post-detail">
		{{post-detail post=selectedPost}}
	</div>
	{{#if selectedPost}}
		<div class="spacer">
			<p>Статистика по сообщению</p>
			{{ember-chart type='Pie' data=selectedPostStats width=400 height=400 options=pieOptions}}
			<p>Частоты появления букв латинского алфавита</p>
		</div>
	{{/if}}
</div>
