<h1>Rss channels</h1>
{{#each model as |channel|}}
	{{#link-to "channels.channel" channel.id class="btn btn-default"}}
		{{channel.name}}
	{{/link-to}}
{{/each}}


{{input value=newChannelName placeholder="url"}}
{{input value=newChannelUrl placeholder="name"}}
<h3><button {{action "addChannel"}}>save new channel</button></h3>

{{outlet}}


