<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<h1>Rss feeds</h1>
			<div>
				{{#each model as |channel|}}
					<ul class="list-group">
						{{#link-to "channels.channel" channel.id}}
							
							 <li class="list-group-item pointer">{{channel.name}}</li>
						{{/link-to}}
					</ul>	
				{{/each}}
			</div>

			<div class="spacer text-left">
				<form class="form-horizontal" >
					<div class="form-group">
						<div class="col-sm-10">
							{{input value=newChannelUrl placeholder="url"}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-10">
							{{input value=newChannelName placeholder="name"}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default" {{action "addChannel"}}>Add feed</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-10">{{outlet}}</div>
	</div>
</div>
