<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<h1>Rss channels</h1>
			{{#each model as |channel|}}
				<div>
				{{#link-to "channels.channel" channel.id class="btn btn-default"}}
					{{channel.name}}
				{{/link-to}}
				</div>
			{{/each}}

			<div class="spacer">
				<form class="form-horizontal" >
					<div class="form-group">
						<div class="col-sm-10">
							{{input value=newChannelUrl placeholder="url"}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-10">
							{{input value=newChannelName placeholder="name"}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default" {{action "addChannel"}}>Add feed</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-10">{{outlet}}</div>
	</div>
</div>






